@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body {
	color: #2c3e50;

    /* dotted background */
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 7px 7px;
    -moz-background-size: 7px 7px;
    background-size: 7px 7px;
}


.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	background-color: #fff;
	color: #000;

    /* dotted background */
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.09), rgba(0,0,0,.09) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 7px 7px;
    -moz-background-size: 7px 7px;
    background-size: 7px 7px;
}
.sidebar-container {
    border-right: thin solid #e0e0e0;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #999;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}
article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

.page-header {
	color: #333;

}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-bottom: 40px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }

.author .author-image {
    float: left;
    margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* fix BS pager */
.pager {
    margin: 0;
}
.pager li>a {
    border: none;
    background: none;
}


/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

/* projects thumbs and captions */
.projects {
   
}

.thumbs {
    position: relative;
}

.thumb {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.caption {
    display: none;
}

.t1:hover ~ .c1,
.t2:hover ~ .c2,
.t3:hover ~ .c3,
.t4:hover ~ .c4,
.t5:hover ~ .c5,
.t6:hover ~ .c6,
.t7:hover ~ .c7,
.t8:hover ~ .c8,
.t9:hover ~ .c9,
.t10:hover ~ .c10,
.t11:hover ~ .c11,
.t12:hover ~ .c12,
.t13:hover ~ .c13,
.t14:hover ~ .c14,
.t15:hover ~ .c15,
.t16:hover ~ .c16,
.t17:hover ~ .c17,
.t18:hover ~ .c18,
.t19:hover ~ .c19,
.t20:hover ~ .c20
{
    display: block;
}